<script>
$(function () {
	$('a.fancy').fancybox ();
	$('.theme').hover (function () {
		$(this).children ('.thumb-back').children ('img').css ('opacity', 0.5);
		$(this).children ('.thumb-front').show ();
	}, function () {
		$(this).children ('.thumb-back').children ('img').css ('opacity', 1);
		$(this).children ('.thumb-front').hide ();
	});
});
</script>
<style>
.theme {
	float: left;
	margin-right: 10px;
}
.thumb-back, .thumb-front {
	width: 210px;
	height: 150px;
	padding: 0;
	margin: 0;
}
.thumb-back {
	background: #000;
	border: 3px solid #ccc;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
}
.thumb-front {
	display: none;
	margin-top: -150px;
}
	.thumb-front a {
		background: #ccc;
		border: 3px solid #ccc;
		-webkit-border-radius: 2px;
		-moz-border-radius: 2px;
		border-radius: 2px;
	}
h3 span.admin {
	font-size: 1em;
	font-weight: normal;
}
</style>

{% if num > 1 %}
<p class="previous"><a href="/{{ page.id }}/{{ num }}">&laquo; {" Newer themes "}</a></p>
{% elseif num == 1 %}
<p class="previous"><a href="/{{ page.id }}">&laquo; {" Newer themes "}</a></p>
{% end %}

{% if User::require_admin () %}
<p><a href="/themebrowser/add?return=/{{ page.id }}">{" Add Theme "}</a></p>
{% end %}

{% foreach themes %}
	<div class="theme">
		<h3><a href="{{ loop_value->link }}">{{ loop_value->name }}</a>
		{% if User::require_admin () %}<span class="admin"><a href="/themebrowser/edit?id={{ loop_value->id }}&return=/{{ page.id }}">{" Edit "}</a> | <a href="/themebrowser/delete?id={{ loop_value->id }}&return=/{{ page.id }}" onclick="return confirm ('{" Are you sure you want to delete this theme? "}')">{" Delete "}</a></span>{% end %}
		</h3>
		<div class="thumb-back">
			<img src="/{{ loop_value->screenshot|filemanager_get_thumbnail (%s, 210, 150) }}" />
		</div>
		<div class="thumb-front">
			<a href="/{{ loop_value->screenshot }}" class="fancy">Preview</a>
			<a href="{{ loop_value->link }}">Website</a>
		</div>
	</div>
{% end %}

<br clear="both" />

{% if more %}
<p class="next"><a href="/{{ page.id }}/{{ next }}">{" Older themes "} &raquo;</a></p>
{% end %}
